<html>
	<head>
		<!-- Title customisable per page. -->
		<title>Dekuuru - {% block title %}{% endblock title %}</title>
		<!-- css goes here TODO -->
	</head>
	<body>
		<!-- Main logo bar. -->
		<div id="logo">
			<h1>DEKUURU [TODO:logo or sth]</h1>
		</div>
		<!-- Meat of the site. -->
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
		<!-- Sidebar main div. -->
		<div id="sidebarCore">
			<!-- User panel. -->
			<div id="userPanel">
				{% if user.is_authenticated %}
					<a href="">{{ user.get_username }}</a>
					<a href="{% url 'logout' %}">Logout</a>
					{% if user.is_staff %}
						<a href="/admin">Admin</a>
					{% endif %}
				{% else %}
					<a href="{% url 'login' %}">Login</a>
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
			<!-- Site navigation. -->
			<div id="globalContent">
				<!-- Search bar goes somewhere here. TODO -->
				<ul>
					<li>
						<a href="{% url 'home' %}">MainPage</a>
					</li>
					<li>
						<a href="{% url 'boards' %}">Boards</a>
					</li>
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'createBoard' %}">Create board</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<!-- Customisable per page. -->
			<div id="localContent">
				{% block sidebarLocal %}{% endblock sidebarLocal %}
			</div>
		</div>
	</body>
</html>
