<html>
	<head>
		<!-- Title customisable per page. -->
		<title>Dekuuru - {% block title %}{% endblock title %}</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/static/css/sidebar.css" rel="stylesheet">
		<script src="/static/js/jquery-2.1.4.min.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<!-- <div class="container"> -->
				<ul class="nav navbar-nav">
					<li><a class="navbar-brand" href="{% url 'home' %}">Dekuuru</a></li>
					<li><a href="{% url 'boards' %}">Boards</a></li>
					<li><a href="{% url 'profiles' %}">Users</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'createBoard' %}">Create board</a></li>
					{% endif %}
				</ul>
				<form class="form-inline navbar-right" method="post" action="{% url 'search' %}">
					<div class="form-group" style="margin-top:10px">
						{% csrf_token %}
						{{ search_form.as_p }}
					</div>
					<!-- <input type="submit" class="btn btn-default" name="search" value="Search"/> -->
					<button type="submit" name="search" class="btn btn-default">Search!</button>
				</form>
			<!-- </div> -->
		</nav>

		<div class="container-fluid">
      	<div class="row">
        		<div class="col-md-2 sidebar">
          		<ul class="nav nav-sidebar">
						<li class="active"><a href="#">Main menu</a></li>
						{% if user.is_authenticated %}
							<li><a href="">{{ user.get_username }}</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
							{% if user.is_staff %}
								<li><a href="/admin">Admin</a></li>
							{% endif %}
						{% else %}
							<li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
							<li><a href="{% url 'register' %}">Register</a></li>
						{% endif %}
          		</ul>
					{% block sidebarLocal %}{% endblock sidebarLocal %}
        		</div>
        		<div class="col-md-10 col-md-offset-2 main">
					<div id="content">
						{% block content %}{% endblock content %}
					</div>
				</div>
			</div>
		</div>
		<!-- Main logo bar. -->
		<!-- <div class="jumbotron" id="logo">
			<h1>DEKUURU [TODO:logo or sth]</h1>
		</div> -->
		<!-- Meat of the site. -->
	</body>
</html>
