{% extends "base.html" %}

{% block title %}/{{ board.board_tag }}/ - {{ board.name }}:tags{% endblock %}

{% block content %}

<h2>Add Tag</h2>
	<form enctype="multipart/form-data" method="post" url="/boardtags/{{ board.board_tag }}/">
		{% csrf_token %}
		{{ formset }}
		<input type="submit" value="Add tag"/>
	</form>

<br/>
<h3>Active tags</h3>
	{% for tag in tags %}
		{{ tag.name }}
	{% endfor %}

{% endblock %}

{% block sidebarLocal%}
	<ul class="nav nav-sidebar">
		<li class="active"><a href="/board/{{ board.board_tag }}/">Board panel</a><li>
		<li><a href="/board/{{ board.board_tag }}/members/">Members</a></li>
		{% if user.is_authenticated and usrBoard %}
			{% if usrBoard.priviledge_level != "STD" %}
				<li><a href="/board/{{ board.board_tag }}/addimage/">Add Image</a></li>
				{% if usrBoard.priviledge_level != "UPL" %}
					<li><a href="/boardtags/{{ board.board_tag }}/">Add tag</a></li>
				{% endif %}
				{% if usrBoard.priviledge_level == "ADM" %}
					<li><a href="/board/{{ board.board_tag }}/admin/">Board admin</a></li>
				{% endif %}
			{% endif %}
		{% endif %}
	</ul>
{% endblock %}
