{% extends "base.html" %}

{% block title %}/{{ board.board_tag }}/ - {{ board.name }}{% endblock %}

{% block content %}
	<h1>/{{ board.board_tag }}/ - {{ board.name }}</h1>
{% for img in images %}
	<a href="/board/{{ board.board_tag }}/{{ img.boardID }}">
		<img src="{{ MEDIA_ROOT }}/{{ img.URI.url_200x200 }}"/>
	</a>
{% endfor %}

{% endblock %}

{% block sidebarLocal%}
	<div>
		<a href="addimage/">Add Image</a>
		<a href="/boardtags/{{ board.board_tag }}/">Add tag</a> 
	</div>
	<div>
		Tags:
		{% for tag in tags %}
			{{ tag.name }}
		{% endfor %}
	</div>
{% endblock %}
