{% extends "base.html" %}

{% block title %}{{ board }}{% endblock %}

{% block content %}
	<h1>{{ board }}</h1>
	<div class="container-fluid">
		{% for img in images %}
			<div class="col-md-2">
				<a href="/board/{{ board.board_tag }}/{{ img.boardID }}">
					<img src="{{ MEDIA_ROOT }}/{{ img.URI.url_200x200 }}" class="img-thumbnail"/>
				</a>
			</div>
		{% endfor %}
	</div>
	<div>
		{% if images.has_previous %}
			<a href="?page={{images.previous_page_number}}">Prev</a>
		{% endif %}
		<p>
			Page {{ images.number }} of {{ images.paginator.num_pages }}
		</p>
		{% if images.has_next %}
			<a href="?page={{images.next_page_number}}">Next</a>
		{% endif %}
	</div>
{% endblock %}

{% block sidebarLocal%}
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#">Board panel</a><li>
		<li><a href="members/">Members</a></li>
		{% if user.is_authenticated and usrBoard %}
			{% if usrBoard.priviledge_level != "STD" %}
				<li><a href="addimage/">Add Image</a></li>
				{% if usrBoard.priviledge_level != "UPL" %}
					<li><a href="/boardtags/{{ board.board_tag }}/">Add tag</a></li>
				{% endif %}
				{% if usrBoard.priviledge_level == "ADM" %}
					<li><a href="admin/">Board admin</a></li>
				{% endif %}
			{% endif %}
		{% endif %}
	</ul>
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#">Board tags</a></li>
		<ul>
		{% for tag in tags %}
			<li><a href="#"><strong>{{ tag.name }}</strong></a></li>
			{% if user.is_authenticated %}
				{% if usrBoard.priviledge_level == "ADM" or usrBoard.priviledge_level == "MOD" %}
					<ul class="list-unstyled">
						<li><a href="/boardtags/{{ board.board_tag }}/edit/{{ tag.name }}">Edit tag</a></li>
						<li><a href="/boardtags/{{ board.board_tag }}/remove/{{ tag.name }}">Remove tag</a></li>
					</ul>
				{% endif %}
			{% endif %}
		{% endfor %}
		</ul>
	</ul>
{% endblock %}
