{% extends "base.html" %}

{% block title %}/{{ board.board_tag }}/ - {{ board.name }} Image {{ image.boardID }}{% endblock %}

{% block content %}
<img src="{{ MEDIA_ROOT }}/{{ image.URI.url }}"/>
<div>
	<ul>
		{% for comment in comments %}
			<li>
				<div>
					<h3>{{ comment.poster }}</h3>
					<h4>{{ comment.post_date }}</h4>
					<p>{{ comment.content }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

Tags:
{% for tag in tags %}
	{{ tag.name }}
{% endfor %}

{% if user.is_authenticated %}
	<form method='post' action="/board/{{ board.board_tag }}/{{ image.boardID}}/">
		{% csrf_token %}
		{{ formset }}
		<input type="submit" value="Submit"/>
	</form>
{% endif %}
{% endblock %}
