{% extends "base.html" %}

{% block title %}{{ board }}@{{ image.boardID }}{% endblock %}

{% block content %}
	<h1>@ <a href="/board/{{ board.board_tag }}/">/{{ board.board_tag }}/</a> - {{ board.name }}</h1>

	<img src="{{ MEDIA_ROOT }}/{{ image.URI.url }}"/>
	<h5>Uploaded by <a href="/userprofile/{{ image.uploader }}/">{{ image.uploader }}</a> on {{ image.upload_date }}</h5>
	<h5><small>Tags: {% for tag in tags %} {{ tag.name }} {% endfor %}</small></h5>
	<div>
		<ul class="list-unstyled">
			{% for comment in comments %}
				<li>
					<div>
						<h3><a href="/userprofile/{{ comment.poster }}/">{{ comment.poster }}</a>   <small>({{ comment.post_date }})</small></h3>
						<p>{{ comment.content }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	{% if user.is_authenticated and usrBoard %}
		<h3>Post new comment</h3>
		<form method='post' action="/board/{{ board.board_tag }}/{{ image.boardID}}/">
			{% csrf_token %}
			{{ formset_comments }}
			<input type="submit" name="comment_form" value="Submit" class="btn btn-default"/>
		</form>
	{% endif %}
{% endblock %}

{% block sidebarLocal%}
	{% if user.is_authenticated %}
		{% if usrBoard.priviledge_level == "ADM" or usrBoard.priviledge_level == "MOD" or image.uploader.id = user.id %}
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Image tag admin</a><li>
				{% if missing_tags > 0 %}
				<li><a href="#">Add tags</a></li>
				<form method='post' action="/board/{{ board.board_tag }}/{{ image.boardID}}/">
					<div class="form-group">
						{% csrf_token %}
						{{ formset_tags }}
					</div>
					<input type="submit" name="tags_form" value="Add tags" class="btn btn-primary"/>
				</form>
				{% endif %}

				{% if tags.count > 0 %}
					<li><a href="#">Remove tags</a></li>
					{% for tag in tags %}
						<ul>
							<li><a href="/imagetags/{{ board.board_tag }}/{{ image.boardID }}/remove/{{ tag.name }}">Remove {{ tag.name }}?</a></li>
						</ul>
					{% endfor %}
				{% endif %}
			</ul>
		{% endif %}
	{% endif %}
{% endblock %}
